.mediaViewInfo {
	--web-view-name: Inventory;
	--web-view-id: Inventory;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Inventory;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
.Inventory_Class {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(223,23,23,1);
	overflow: hidden;
	--web-view-name: Inventory;
	--web-view-id: Inventory;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
	-webkit-touch-callout:   none;
	-webkit-text-size-adjust:   none;
	-webkit-user-select:   none;
	user-select:   none;
	-webkit-tap-highlight-color:  rgba(0,0,0,0.3);
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
.Settings_ws_Class {
	position: absolute;
	width: 100%;
	height: 475px;
	left: 50%;
	transform: translateX(-50%);
	top: 79px;
	overflow: visible;
}
.hero_wt_Class {
	position: absolute;
	width: 100%;
	height: 234px;
	left: 50%;
	transform: translateX(-50%);
	top: 0px;
	overflow: visible;
}
.Path_326_wu_Class {
	position: absolute;
	width: 100%;
	height: 106px;
	left: 0px;
	top: 128px;
	overflow: visible;
}
.Name_wv_Class {
	position: absolute;
	width: 311px;
	height: 40px;
	left: 50%;
	transform: translateX(-50%);
	top: 161px;
	overflow: visible;
}
.Giannis_Chronis_ww_Class {
	left: 0px;
	top: 9px;
	position: absolute;
	overflow: visible;
	width: 155px;
	white-space: nowrap;
	line-height: 24px;
	margin-top: -2px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(223,23,23,1);
}
.Component_123__1_wx_Class {
	position: absolute;
	width: 96px;
	height: 40px;
	left: 215px;
	top: 0px;
	overflow: visible;
}
.Rectangle_150_wy_Class {
	fill: rgba(223,23,23,1);
}
.Rectangle_150_wy {
	position: absolute;
	overflow: visible;
	width: 96px;
	height: 40px;
	left: 0px;
	top: 0px;
}
.Edit_wz_Class {
	left: 32px;
	top: 8px;
	position: absolute;
	overflow: visible;
	width: 33px;
	white-space: nowrap;
	line-height: 31px;
	margin-top: -6.5px;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
.Mask_Group_3_w_Class {
	position: absolute;
	width: 120px;
	height: 120px;
	left: 50%;
	transform: translateX(-50%);
	top: 0px;
	overflow: visible;
}
.Group_1576_w_Class {
	position: absolute;
	width: 159px;
	height: 208px;
	left: 50%;
	transform: translateX(-50%);
	top: 267px;
	overflow: visible;
}
.Group_1572_w_Class {
	position: absolute;
	width: 131px;
	height: 24px;
	left: 0px;
	top: 46px;
	overflow: visible;
}
.Inventory_w_Class {
	left: 49px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 83px;
	white-space: nowrap;
	line-height: 31px;
	margin-top: -6.5px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
.inventory_2-24px_w_Class {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 0px;
	top: 3px;
	overflow: visible;
}
.Group_1552_w_Class {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rectangle_1640_w_Class {
	fill: transparent;
}
.Rectangle_1640_w {
	position: absolute;
	overflow: visible;
	width: 18px;
	height: 18px;
	left: 0px;
	top: 0px;
}
.Group_1553_w_Class {
	position: absolute;
	width: 14.667px;
	height: 14.667px;
	left: 1.667px;
	top: 1.667px;
	overflow: visible;
}
.Path_317_w_Class {
	fill: rgba(255,255,255,1);
}
.Path_317_w {
	overflow: visible;
	position: absolute;
	width: 14.667px;
	height: 14.667px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Group_1571_w_Class {
	position: absolute;
	width: 158px;
	height: 24px;
	left: 1px;
	top: 0px;
	overflow: visible;
}
.Notifications_xa_Class {
	left: 48px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 111px;
	white-space: nowrap;
	line-height: 31px;
	margin-top: -6.5px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
.Notifications_xb_Class {
	position: absolute;
	width: 16px;
	height: 16px;
	left: 0px;
	top: 4px;
	overflow: visible;
}
.Rectangle_479_xc_Class {
	fill: transparent;
}
.Rectangle_479_xc {
	position: absolute;
	overflow: visible;
	width: 16px;
	height: 16px;
	left: 0px;
	top: 0px;
}
.Path_1_xd_Class {
	fill: rgba(255,255,255,1);
}
.Path_1_xd {
	overflow: visible;
	position: absolute;
	width: 15.918px;
	height: 16px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Group_1573_xe_Class {
	position: absolute;
	width: 119px;
	height: 24px;
	left: 0px;
	top: 92px;
	overflow: visible;
}
.Account_xf_Class {
	left: 49px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 71px;
	white-space: nowrap;
	line-height: 31px;
	margin-top: -6.5px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
.Union_1_xg_Class {
	fill: rgba(255,255,255,1);
}
.Union_1_xg {
	overflow: visible;
	position: absolute;
	width: 16px;
	height: 16px;
	left: 0px;
	top: 4px;
	transform: matrix(1,0,0,1,0,0);
}
.Group_1574_xh_Class {
	position: absolute;
	width: 109px;
	height: 24px;
	left: 1px;
	top: 138px;
	overflow: visible;
}
.Privacy_xi_Class {
	left: 48px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 62px;
	white-space: nowrap;
	line-height: 31px;
	margin-top: -6.5px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
.Group_1549_xj_Class {
	position: absolute;
	width: 16px;
	height: 19px;
	left: 0px;
	top: 4px;
	overflow: visible;
}
.Rectangle_118_xk_Class {
	fill: transparent;
}
.Rectangle_118_xk {
	position: absolute;
	overflow: visible;
	width: 16px;
	height: 16px;
	left: 0px;
	top: 3px;
}
.Path_49_xl_Class {
	fill: rgba(255,255,255,1);
}
.Path_49_xl {
	overflow: visible;
	position: absolute;
	width: 14px;
	height: 16px;
	left: 1px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Group_1575_xm_Class {
	position: absolute;
	width: 88px;
	height: 24px;
	left: 1px;
	top: 184px;
	overflow: visible;
}
.Help_xn_Class {
	left: 48px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	line-height: 31px;
	margin-top: -6.5px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
.Help_xo_Class {
	position: absolute;
	width: 16px;
	height: 16px;
	left: 0px;
	top: 4px;
	overflow: visible;
}
.Rectangle_481_xp_Class {
	fill: transparent;
}
.Rectangle_481_xp {
	position: absolute;
	overflow: visible;
	width: 16px;
	height: 16px;
	left: 0px;
	top: 0px;
}
.Path_146_xq_Class {
	fill: rgba(255,255,255,1);
}
.Path_146_xq {
	overflow: visible;
	position: absolute;
	width: 16px;
	height: 16px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Navigation_Bar_5_xr_Class {
	position: absolute;
	width: 100%;
	height: 68px;
	left: 50%;
	transform: translateX(-50%);
	top: 0px;
	overflow: visible;
}
.Merged_bar_xs_Class {
	position: absolute;
	width: 100%;
	height: 68px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Settings_xt_Class {
	left: 50%;
	transform: translateX(-50%);
	top: 18px;
	position: absolute;
	overflow: visible;
	width: 103px;
	white-space: nowrap;
	line-height: 31px;
	margin-top: -3.5px;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: lighter;
	font-size: 24px;
	color: rgba(255,255,255,1);
	text-transform: uppercase;
}
.Component_135__3_Class {
	position: absolute;
	width: 16px;
	height: 16px;
	left: 16px;
	top: 26px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Dashboard.html;
	cursor: pointer;
}
.Path_10_xv_Class {
	fill: rgba(255,255,255,1);
}
.Path_10_xv {
	overflow: visible;
	position: absolute;
	width: 16px;
	height: 16px;
	transform: translate(0px, 0px) matrix(1,0,0,1,0,0) rotate(180deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
.Rectangle_1645_xw_Class {
	opacity: 0.18;
	position: absolute;
	width: 100%;
	height: 812px;
	left: -1px;
	top: 0px;
	overflow: visible;
}
.Pop_over_xx_Class {
	position: absolute;
	width: 311px;
	height: 435px;
	left: 50%;
	transform: translateX(-50%);
	top: 116px;
	overflow: visible;
}
.Rectangle_660_xy_Class {
	fill: rgba(255,255,255,1);
}
.Rectangle_660_xy {
	filter: drop-shadow(0px 30px 30px rgba(38, 153, 251, 0.102));
	position: absolute;
	overflow: visible;
	width: 401px;
	height: 525px;
	left: 0px;
	top: 0px;
}
.Inventory_xz_Class {
	left: 98px;
	top: 32px;
	position: absolute;
	overflow: visible;
	width: 117px;
	white-space: nowrap;
	line-height: 31px;
	margin-top: -3.5px;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(223,23,23,1);
}
.x_x_Class {
	position: absolute;
	width: 16px;
	height: 16px;
	left: 279px;
	top: 16px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: 3_Settings.html;
	cursor: pointer;
}
.Rectangle_1445_x_Class {
	fill: transparent;
}
.Rectangle_1445_x {
	position: absolute;
	overflow: visible;
	width: 16px;
	height: 16px;
	left: 0px;
	top: 0px;
}
.Union_3_x_Class {
	fill: rgba(223,23,23,1);
}
.Union_3_x {
	overflow: visible;
	position: absolute;
	width: 15.557px;
	height: 15.557px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Main_Class {
	position: absolute;
	width: 177px;
	height: 336px;
	left: 51px;
	top: 84px;
	overflow: visible;
}
.Arrow_Class {
	position: absolute;
	width: 12.242px;
	height: 86.956px;
	left: 4.372px;
	top: 33px;
	overflow: visible;
}
.Rectangle_1291_Class {
	fill: rgba(245,179,179,1);
}
.Rectangle_1291 {
	position: absolute;
	overflow: visible;
	width: 1px;
	height: 84px;
	left: 5.628px;
	top: 0px;
}
.Path_264_Class {
	fill: rgba(245,179,179,1);
}
.Path_264 {
	overflow: visible;
	position: absolute;
	width: 12.242px;
	height: 7.4px;
	left: 0px;
	top: 79.556px;
	transform: matrix(1,0,0,1,0,0);
}
.Arrow_x_Class {
	position: absolute;
	width: 12.242px;
	height: 87.378px;
	left: 4.372px;
	top: 155px;
	overflow: visible;
}
.Rectangle_1292_Class {
	fill: rgba(245,179,179,1);
}
.Rectangle_1292 {
	position: absolute;
	overflow: visible;
	width: 1px;
	height: 84px;
	left: 5.628px;
	top: 0px;
}
.Path_265_Class {
	fill: rgba(245,179,179,1);
}
.Path_265 {
	overflow: visible;
	position: absolute;
	width: 12.242px;
	height: 7.4px;
	left: 0px;
	top: 79.978px;
	transform: matrix(1,0,0,1,0,0);
}
.Location_Class {
	position: absolute;
	width: 147px;
	height: 51px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Ellipse_282_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(223,23,23,1);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_282 {
	position: absolute;
	overflow: visible;
	width: 21px;
	height: 21px;
	left: 0px;
	top: 5px;
}
.ID2022020_Class {
	left: 35px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 83px;
	white-space: nowrap;
	line-height: 31px;
	margin-top: -6.5px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(223,23,23,1);
}
.Roblox_GiftCard__Class {
	left: 35px;
	top: 30px;
	position: absolute;
	overflow: visible;
	width: 113px;
	white-space: nowrap;
	line-height: 31px;
	margin-top: -7.5px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: lighter;
	font-size: 16px;
	color: rgba(223,23,23,1);
}
.Location_ye_Class {
	position: absolute;
	width: 177px;
	height: 122px;
	left: 0px;
	top: 52px;
	overflow: visible;
}
.Ellipse_283_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(223,23,23,0.941);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_283 {
	position: absolute;
	overflow: visible;
	width: 21px;
	height: 21px;
	left: 0px;
	top: 75px;
}
.ID2522020_Class {
	left: 35px;
	top: 71px;
	position: absolute;
	overflow: visible;
	width: 83px;
	white-space: nowrap;
	line-height: 31px;
	margin-top: -6.5px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(223,23,23,1);
}
.iConiC_skin_-_Fortnite_Class {
	left: 33px;
	top: 101px;
	position: absolute;
	overflow: visible;
	width: 145px;
	white-space: nowrap;
	line-height: 31px;
	margin-top: -7.5px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: lighter;
	font-size: 16px;
	color: rgba(223,23,23,1);
}
.Group_1561_Class {
	position: absolute;
	width: 40px;
	height: 34px;
	left: 35px;
	top: 0px;
	overflow: visible;
}
.ID5_yj_Class {
	left: 0px;
	top: 5px;
	position: absolute;
	overflow: visible;
	width: 11px;
	white-space: nowrap;
	line-height: 31px;
	margin-top: -6.5px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(223,23,23,1);
}
.flag-24px_yk_Class {
	position: absolute;
	width: 34px;
	height: 34px;
	left: 6px;
	top: 0px;
	overflow: visible;
}
.Group_1531_yl_Class {
	position: absolute;
	width: 34px;
	height: 34px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rectangle_1631_ym_Class {
	fill: transparent;
}
.Rectangle_1631_ym {
	position: absolute;
	overflow: visible;
	width: 34px;
	height: 34px;
	left: 0px;
	top: 0px;
}
.Group_1533_yn_Class {
	position: absolute;
	width: 12.153px;
	height: 13.774px;
	left: 11.632px;
	top: 10.337px;
	overflow: visible;
}
.Group_1532_yo_Class {
	position: absolute;
	width: 12.153px;
	height: 13.774px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Path_302_yp_Class {
	fill: rgba(223,23,23,1);
}
.Path_302_yp {
	overflow: visible;
	position: absolute;
	width: 12.153px;
	height: 13.774px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Location_yq_Class {
	position: absolute;
	width: 159px;
	height: 91px;
	left: 0px;
	top: 245px;
	overflow: visible;
}
.Ellipse_284_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(223,23,23,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_284 {
	position: absolute;
	overflow: visible;
	width: 21px;
	height: 21px;
	left: 0px;
	top: 5px;
}
.Work_Class {
	left: 35px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 47px;
	white-space: nowrap;
	line-height: 31px;
	margin-top: -6.5px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(223,23,23,1);
}
.Zara_GiftCard_-_25_Class {
	left: 35px;
	top: 30px;
	position: absolute;
	overflow: visible;
	width: 125px;
	white-space: nowrap;
	line-height: 31px;
	margin-top: -7.5px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: lighter;
	font-size: 16px;
	color: rgba(223,23,23,1);
}
.Group_1562_Class {
	position: absolute;
	width: 40px;
	height: 34px;
	left: 35px;
	top: 57px;
	overflow: visible;
}
.ID5_yv_Class {
	left: 0px;
	top: 5px;
	position: absolute;
	overflow: visible;
	width: 11px;
	white-space: nowrap;
	line-height: 31px;
	margin-top: -6.5px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(223,23,23,1);
}
.flag-24px_yw_Class {
	position: absolute;
	width: 34px;
	height: 34px;
	left: 6px;
	top: 0px;
	overflow: visible;
}
.Group_1531_yx_Class {
	position: absolute;
	width: 34px;
	height: 34px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rectangle_1631_yy_Class {
	fill: transparent;
}
.Rectangle_1631_yy {
	position: absolute;
	overflow: visible;
	width: 34px;
	height: 34px;
	left: 0px;
	top: 0px;
}
.Group_1533_yz_Class {
	position: absolute;
	width: 12.153px;
	height: 13.774px;
	left: 11.632px;
	top: 10.337px;
	overflow: visible;
}
.Group_1532_y_Class {
	position: absolute;
	width: 12.153px;
	height: 13.774px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Path_302_y_Class {
	fill: rgba(223,23,23,1);
}
.Path_302_y {
	overflow: visible;
	position: absolute;
	width: 12.153px;
	height: 13.774px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Group_1560_Class {
	position: absolute;
	width: 40px;
	height: 34px;
	left: 34px;
	top: 175px;
	overflow: visible;
}
.ID5_y_Class {
	left: 0px;
	top: 5px;
	position: absolute;
	overflow: visible;
	width: 11px;
	white-space: nowrap;
	line-height: 31px;
	margin-top: -6.5px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(223,23,23,1);
}
.flag-24px_y_Class {
	position: absolute;
	width: 34px;
	height: 34px;
	left: 6px;
	top: 0px;
	overflow: visible;
}
.Group_1531_y_Class {
	position: absolute;
	width: 34px;
	height: 34px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rectangle_1631_y_Class {
	fill: transparent;
}
.Rectangle_1631_y {
	position: absolute;
	overflow: visible;
	width: 34px;
	height: 34px;
	left: 0px;
	top: 0px;
}
.Group_1533_y_Class {
	position: absolute;
	width: 12.153px;
	height: 13.774px;
	left: 11.632px;
	top: 10.337px;
	overflow: visible;
}
.Group_1532_za_Class {
	position: absolute;
	width: 12.153px;
	height: 13.774px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Path_302_za_Class {
	fill: rgba(223,23,23,1);
}
.Path_302_za {
	overflow: visible;
	position: absolute;
	width: 12.153px;
	height: 13.774px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}