.mediaViewInfo {
	--web-view-name: Schedule -Day – 2;
	--web-view-id: Schedule_-Day__2;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Schedule_-Day__2;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
.Schedule_-Day__2_Class {
	position: absolute;
	width: 100%;
	height: 1389px;
	background-color: rgba(254,199,199,1);
	overflow: hidden;
	--web-view-name: Schedule -Day – 2;
	--web-view-id: Schedule_-Day__2;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
	-webkit-touch-callout:   none;
	-webkit-text-size-adjust:   none;
	-webkit-user-select:   none;
	user-select:   none;
	-webkit-tap-highlight-color:  rgba(0,0,0,0.3);
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
.info_hz_Class {
	position: absolute;
	width: 346px;
	height: 1307px;
	left: 50%;
	transform: translateX(-50%);
	top: 82px;
	overflow: hidden;
}
.info_h_Class {
	position: absolute;
	width: 346px;
	height: 126px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rectangle_612_h_Class {
	fill: rgba(223,23,23,1);
}
.Rectangle_612_h {
	position: absolute;
	overflow: visible;
	width: 346px;
	height: 126px;
	left: 0px;
	top: 0px;
}
.School_h_Class {
	left: 24px;
	top: 14px;
	position: absolute;
	overflow: visible;
	width: 58px;
	white-space: nowrap;
	line-height: 31px;
	margin-top: -6.5px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
.ID8__30_to_1500_Transport__Car_h_Class {
	left: 24px;
	top: 43px;
	position: absolute;
	overflow: visible;
	width: 115px;
	white-space: nowrap;
	line-height: 21px;
	margin-top: -2.5px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: lighter;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
.Group_60_h_Class {
	position: absolute;
	width: 40px;
	height: 40px;
	left: 273px;
	top: 43px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Schedule__Day___3.html;
	cursor: pointer;
}
.Rectangle_67_h_Class {
	fill: rgba(255,255,255,1);
}
.Rectangle_67_h {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 0px;
	top: 0px;
}
.Group_737_h_Class {
	position: absolute;
	width: 16px;
	height: 16px;
	left: 12px;
	top: 12px;
	overflow: visible;
}
.Path_10_h_Class {
	fill: rgba(223,0,36,1);
}
.Path_10_h {
	overflow: visible;
	position: absolute;
	width: 16px;
	height: 16px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.info_ia_Class {
	position: absolute;
	width: 346px;
	height: 126px;
	left: 0px;
	top: 146px;
	overflow: visible;
}
.Rectangle_612_ia_Class {
	fill: rgba(223,23,23,1);
}
.Rectangle_612_ia {
	position: absolute;
	overflow: visible;
	width: 346px;
	height: 126px;
	left: 0px;
	top: 0px;
}
.School_ia_Class {
	left: 24px;
	top: 14px;
	position: absolute;
	overflow: visible;
	width: 58px;
	white-space: nowrap;
	line-height: 31px;
	margin-top: -6.5px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
.ID8__30_to_1500_Transport__Car_ib_Class {
	left: 24px;
	top: 43px;
	position: absolute;
	overflow: visible;
	width: 115px;
	white-space: nowrap;
	line-height: 21px;
	margin-top: -2.5px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: lighter;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
.Group_60_ic_Class {
	position: absolute;
	width: 40px;
	height: 40px;
	left: 273px;
	top: 43px;
	overflow: visible;
}
.Rectangle_67_id_Class {
	fill: rgba(255,255,255,1);
}
.Rectangle_67_id {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 0px;
	top: 0px;
}
.Group_737_ie_Class {
	position: absolute;
	width: 16px;
	height: 16px;
	left: 12px;
	top: 12px;
	overflow: visible;
}
.Path_10_if_Class {
	fill: rgba(223,0,36,1);
}
.Path_10_if {
	overflow: visible;
	position: absolute;
	width: 16px;
	height: 16px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.info_ig_Class {
	position: absolute;
	width: 346px;
	height: 126px;
	left: 0px;
	top: 292px;
	overflow: visible;
}
.Rectangle_612_ih_Class {
	fill: rgba(223,23,23,1);
}
.Rectangle_612_ih {
	position: absolute;
	overflow: visible;
	width: 346px;
	height: 126px;
	left: 0px;
	top: 0px;
}
.School_ii_Class {
	left: 24px;
	top: 14px;
	position: absolute;
	overflow: visible;
	width: 58px;
	white-space: nowrap;
	line-height: 31px;
	margin-top: -6.5px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
.ID8__30_to_1500_Transport__Car_ij_Class {
	left: 24px;
	top: 43px;
	position: absolute;
	overflow: visible;
	width: 115px;
	white-space: nowrap;
	line-height: 21px;
	margin-top: -2.5px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: lighter;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
.Group_60_ik_Class {
	position: absolute;
	width: 40px;
	height: 40px;
	left: 273px;
	top: 43px;
	overflow: visible;
}
.Rectangle_67_il_Class {
	fill: rgba(255,255,255,1);
}
.Rectangle_67_il {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 0px;
	top: 0px;
}
.Group_737_im_Class {
	position: absolute;
	width: 16px;
	height: 16px;
	left: 12px;
	top: 12px;
	overflow: visible;
}
.Path_10_in_Class {
	fill: rgba(223,0,36,1);
}
.Path_10_in {
	overflow: visible;
	position: absolute;
	width: 16px;
	height: 16px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.info_io_Class {
	position: absolute;
	width: 346px;
	height: 126px;
	left: 0px;
	top: 438px;
	overflow: visible;
}
.Rectangle_612_ip_Class {
	fill: rgba(223,23,23,1);
}
.Rectangle_612_ip {
	position: absolute;
	overflow: visible;
	width: 346px;
	height: 126px;
	left: 0px;
	top: 0px;
}
.School_iq_Class {
	left: 24px;
	top: 14px;
	position: absolute;
	overflow: visible;
	width: 58px;
	white-space: nowrap;
	line-height: 31px;
	margin-top: -6.5px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
.ID8__30_to_1500_Transport__Car_ir_Class {
	left: 24px;
	top: 43px;
	position: absolute;
	overflow: visible;
	width: 115px;
	white-space: nowrap;
	line-height: 21px;
	margin-top: -2.5px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: lighter;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
.Group_60_is_Class {
	position: absolute;
	width: 40px;
	height: 40px;
	left: 273px;
	top: 43px;
	overflow: visible;
}
.Rectangle_67_it_Class {
	fill: rgba(255,255,255,1);
}
.Rectangle_67_it {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 0px;
	top: 0px;
}
.Group_737_iu_Class {
	position: absolute;
	width: 16px;
	height: 16px;
	left: 12px;
	top: 12px;
	overflow: visible;
}
.Path_10_iv_Class {
	fill: rgba(223,0,36,1);
}
.Path_10_iv {
	overflow: visible;
	position: absolute;
	width: 16px;
	height: 16px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.info_iw_Class {
	position: absolute;
	width: 346px;
	height: 126px;
	left: 0px;
	top: 584px;
	overflow: visible;
}
.Rectangle_612_ix_Class {
	fill: rgba(223,23,23,1);
}
.Rectangle_612_ix {
	position: absolute;
	overflow: visible;
	width: 346px;
	height: 126px;
	left: 0px;
	top: 0px;
}
.School_iy_Class {
	left: 24px;
	top: 14px;
	position: absolute;
	overflow: visible;
	width: 58px;
	white-space: nowrap;
	line-height: 31px;
	margin-top: -6.5px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
.ID8__30_to_1500_Transport__Car_iz_Class {
	left: 24px;
	top: 43px;
	position: absolute;
	overflow: visible;
	width: 115px;
	white-space: nowrap;
	line-height: 21px;
	margin-top: -2.5px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: lighter;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
.Group_60_i_Class {
	position: absolute;
	width: 40px;
	height: 40px;
	left: 273px;
	top: 43px;
	overflow: visible;
}
.Rectangle_67_i_Class {
	fill: rgba(255,255,255,1);
}
.Rectangle_67_i {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 0px;
	top: 0px;
}
.Group_737_i_Class {
	position: absolute;
	width: 16px;
	height: 16px;
	left: 12px;
	top: 12px;
	overflow: visible;
}
.Path_10_i_Class {
	fill: rgba(223,0,36,1);
}
.Path_10_i {
	overflow: visible;
	position: absolute;
	width: 16px;
	height: 16px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.info_i_Class {
	position: absolute;
	width: 346px;
	height: 126px;
	left: 0px;
	top: 730px;
	overflow: visible;
}
.Rectangle_612_i_Class {
	fill: rgba(223,23,23,1);
}
.Rectangle_612_i {
	position: absolute;
	overflow: visible;
	width: 346px;
	height: 126px;
	left: 0px;
	top: 0px;
}
.School_i_Class {
	left: 24px;
	top: 14px;
	position: absolute;
	overflow: visible;
	width: 58px;
	white-space: nowrap;
	line-height: 31px;
	margin-top: -6.5px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
.ID8__30_to_1500_Transport__Car_i_Class {
	left: 24px;
	top: 43px;
	position: absolute;
	overflow: visible;
	width: 115px;
	white-space: nowrap;
	line-height: 21px;
	margin-top: -2.5px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: lighter;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
.Group_60_ja_Class {
	position: absolute;
	width: 40px;
	height: 40px;
	left: 273px;
	top: 43px;
	overflow: visible;
}
.Rectangle_67_ja_Class {
	fill: rgba(255,255,255,1);
}
.Rectangle_67_ja {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 0px;
	top: 0px;
}
.Group_737_ja_Class {
	position: absolute;
	width: 16px;
	height: 16px;
	left: 12px;
	top: 12px;
	overflow: visible;
}
.Path_10_jb_Class {
	fill: rgba(223,0,36,1);
}
.Path_10_jb {
	overflow: visible;
	position: absolute;
	width: 16px;
	height: 16px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.info_jc_Class {
	position: absolute;
	width: 346px;
	height: 126px;
	left: 0px;
	top: 876px;
	overflow: visible;
}
.Rectangle_612_jd_Class {
	fill: rgba(223,23,23,1);
}
.Rectangle_612_jd {
	position: absolute;
	overflow: visible;
	width: 346px;
	height: 126px;
	left: 0px;
	top: 0px;
}
.School_je_Class {
	left: 24px;
	top: 14px;
	position: absolute;
	overflow: visible;
	width: 58px;
	white-space: nowrap;
	line-height: 31px;
	margin-top: -6.5px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
.ID8__30_to_1500_Transport__Car_jf_Class {
	left: 24px;
	top: 43px;
	position: absolute;
	overflow: visible;
	width: 115px;
	white-space: nowrap;
	line-height: 21px;
	margin-top: -2.5px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: lighter;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
.Group_60_jg_Class {
	position: absolute;
	width: 40px;
	height: 40px;
	left: 273px;
	top: 43px;
	overflow: visible;
}
.Rectangle_67_jh_Class {
	fill: rgba(255,255,255,1);
}
.Rectangle_67_jh {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 0px;
	top: 0px;
}
.Group_737_ji_Class {
	position: absolute;
	width: 16px;
	height: 16px;
	left: 12px;
	top: 12px;
	overflow: visible;
}
.Path_10_jj_Class {
	fill: rgba(223,0,36,1);
}
.Path_10_jj {
	overflow: visible;
	position: absolute;
	width: 16px;
	height: 16px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.info_jk_Class {
	position: absolute;
	width: 346px;
	height: 126px;
	left: 0px;
	top: 1022px;
	overflow: visible;
}
.Rectangle_612_jl_Class {
	fill: rgba(223,23,23,1);
}
.Rectangle_612_jl {
	position: absolute;
	overflow: visible;
	width: 346px;
	height: 126px;
	left: 0px;
	top: 0px;
}
.School_jm_Class {
	left: 24px;
	top: 14px;
	position: absolute;
	overflow: visible;
	width: 58px;
	white-space: nowrap;
	line-height: 31px;
	margin-top: -6.5px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
.ID8__30_to_1500_Transport__Car_jn_Class {
	left: 24px;
	top: 43px;
	position: absolute;
	overflow: visible;
	width: 115px;
	white-space: nowrap;
	line-height: 21px;
	margin-top: -2.5px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: lighter;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
.Group_60_jo_Class {
	position: absolute;
	width: 40px;
	height: 40px;
	left: 273px;
	top: 43px;
	overflow: visible;
}
.Rectangle_67_jp_Class {
	fill: rgba(255,255,255,1);
}
.Rectangle_67_jp {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 0px;
	top: 0px;
}
.Group_737_jq_Class {
	position: absolute;
	width: 16px;
	height: 16px;
	left: 12px;
	top: 12px;
	overflow: visible;
}
.Path_10_jr_Class {
	fill: rgba(223,0,36,1);
}
.Path_10_jr {
	overflow: visible;
	position: absolute;
	width: 16px;
	height: 16px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.info_js_Class {
	position: absolute;
	width: 346px;
	height: 126px;
	left: 0px;
	top: 1168px;
	overflow: visible;
}
.Rectangle_612_jt_Class {
	fill: rgba(223,23,23,1);
}
.Rectangle_612_jt {
	position: absolute;
	overflow: visible;
	width: 346px;
	height: 126px;
	left: 0px;
	top: 0px;
}
.School_ju_Class {
	left: 24px;
	top: 14px;
	position: absolute;
	overflow: visible;
	width: 58px;
	white-space: nowrap;
	line-height: 31px;
	margin-top: -6.5px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
.ID8__30_to_1500_Transport__Car_jv_Class {
	left: 24px;
	top: 43px;
	position: absolute;
	overflow: visible;
	width: 115px;
	white-space: nowrap;
	line-height: 21px;
	margin-top: -2.5px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: lighter;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
.Group_60_jw_Class {
	position: absolute;
	width: 40px;
	height: 40px;
	left: 273px;
	top: 43px;
	overflow: visible;
}
.Rectangle_67_jx_Class {
	fill: rgba(255,255,255,1);
}
.Rectangle_67_jx {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 0px;
	top: 0px;
}
.Group_737_jy_Class {
	position: absolute;
	width: 16px;
	height: 16px;
	left: 12px;
	top: 12px;
	overflow: visible;
}
.Path_10_jz_Class {
	fill: rgba(223,0,36,1);
}
.Path_10_jz {
	overflow: visible;
	position: absolute;
	width: 16px;
	height: 16px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Navigation_Bar_5_j_Class {
	position: absolute;
	width: 100%;
	height: 68px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Merged_bar_j_Class {
	position: absolute;
	width: 100%;
	height: 68px;
	left: 50%;
	transform: translateX(-50%);
	top: 0px;
	overflow: visible;
}
.Sunday_j_Class {
	left: 50%;
	transform: translateX(-50%);
	top: 18px;
	position: absolute;
	overflow: visible;
	width: 89px;
	white-space: nowrap;
	line-height: 31px;
	margin-top: -3.5px;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: lighter;
	font-size: 24px;
	color: rgba(255,255,255,1);
	text-transform: uppercase;
}
.Backward_arrow_j_Class {
	position: absolute;
	width: 16px;
	height: 16px;
	left: 16px;
	top: 26px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Schedule___Week.html;
	cursor: pointer;
}
.Path_10_j_Class {
	fill: rgba(255,255,255,1);
}
.Path_10_j {
	overflow: visible;
	position: absolute;
	width: 16px;
	height: 16px;
	transform: translate(0px, 0px) matrix(1,0,0,1,0,0) rotate(180deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}